@font-face {
  font-family: 'Neutral Face Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/neutralFace/NeutralFace.woff') format('woff');
}

@font-face {
  font-family: 'Neutral Face Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/neutralFace/NeutralFaceBold.woff') format('woff');
}
