@import '_fonts';

//general
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 16px;

  @media only screen and (max-width: 1200px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 767px) {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #e0e1dc;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;

  @media only screen and (max-width: 1200px) {
    max-width: 1000px;
  }

  @media only screen and (max-width: 991px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 767px) {
    padding: 0 15px;
  }
}

.section-title {
  font-family: 'Neutral Face Bold', sans-serif;
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 370px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #224486;
  background: #e0e1dc;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: 180ms ease;

  &:hover {
    color: #e0e1dc !important;
    background: #224486;
    border-color: #224486;
  }
}

.desktop-only {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: 700;
}

.text-lg {
  font-size: 2.25rem;
}

.text-disabled {
  color: rgba(224, 225, 220, 0.20);
}

.mt {
  &_3 {
    margin-top: 30px;
  }

  &_4 {
    margin-top: 40px;
  }

  &_5 {
    margin-top: 50px;
  }
}

.mb {
  &_4 {
    margin-bottom: 40px;
  }

  &_5 {
    margin-bottom: 50px;
  }

  &_6 {
    margin-bottom: 60px;
  }

  &_7 {
    margin-bottom: 70px;
  }
}

.animate {
  transition-duration: 300ms;
  transition-timing-function: ease;

  &_1 {
    transition-delay: 240ms;
  }

  &_2 {
    transition-delay: 360ms;
  }

  &_3 {
    transition-delay: 480ms;
  }

  &_4 {
    transition-delay: 600ms;
  }

  &_5 {
    transition-delay: 720ms;
  }

  &_6 {
    transition-delay: 840ms;
  }

  &_7 {
    transition-delay: 960ms;
  }

  &_8 {
    transition-delay: 1080ms;
  }

  &_9 {
    transition-delay: 1200ms;
  }

  &_10 {
    transition-delay: 1320ms;
  }

  &_11 {
    transition-delay: 1440ms;
  }

  &_12 {
    transition-delay: 1560ms;
  }

  &_13 {
    transition-delay: 1680ms;
  }
}
//general

//top
.top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  max-height: 1080px;
  width: 100%;
  background: url("../img/top-bg.jpg") no-repeat center center;
  background-size: cover;

  &__header {
    width: 100%;

    &-grid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 46px 0;

      @media only screen and (max-width: 991px) {
        padding: 36px 0;
      }

      @media only screen and (max-width: 767px) {
        padding: 65px 0;
      }
    }

    &-burger {
      display: none;
      flex-shrink: 0;
      width: 96px;
      margin-right: 20px;

      @media only screen and (max-width: 767px) {
        display: block;
      }
    }

    &-nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    &-link {
      margin-right: 37px;
      font-size: 1.125rem;
      font-weight: 600;
      letter-spacing: 0.36px;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }

      @media only screen and (max-width: 991px) {
        margin-right: 25px;
      }
    }

    &-logo {
      flex-shrink: 0;
      width: 200px;
      margin-left: 20px;

      @media only screen and (max-width: 767px) {
        width: 152px;
        margin-left: 0;
      }
    }
  }

  .mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #e0e1dc !important;
    background: #224486;
    transform: translateX(-100%);
    transition: 180ms ease;

    &.show {
      display: block;
    }

    &.animate {
      transform: translateX(0);
    }

    &__grid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      width: 100%;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 65px 0;
    }

    &__burger {
      flex-shrink: 0;
      width: 96px;
      margin-right: 20px;
    }

    &__logo {
      flex-shrink: 0;
      width: 152px;
    }

    &__body {
      width: 100%;
      margin-top: auto;
      padding-bottom: 100px;
    }

    &__nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    &__link {
      margin-bottom: 40px;
      font-size: 2.875rem;
      font-weight: 700;
      letter-spacing: 0.92px;
      text-transform: uppercase;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    width: 100%;
    padding: 100px 0;

    @media only screen and (max-width: 991px) {
      padding: 80px 0;
    }

    &-grid {
      width: 100%;
      max-width: 740px;
    }

    &-subheader {
      margin-bottom: 14px;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.48px;
    }

    &-header {
      margin-bottom: 77px;
      font-size: 2.875rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.92px;
      text-transform: uppercase;

      @media only screen and (max-width: 991px) {
        margin-bottom: 48px;
      }
    }
  }
}
//top

//auditory
.auditory {
  position: relative;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
  color: #224486;
  background: #e0e1dc;

  @media only screen and (max-width: 767px) {
    padding-bottom: 230px;
    text-align: left;
  }

  &__title {
    margin-bottom: 8px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__text {
    margin-bottom: 32px;
    font-size: 1.5rem;
    letter-spacing: 0.48px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 196px;
    }
  }

  &__questions {
    position: relative;
    width: 100%;
    max-width: 363px;
    margin: 0 auto;

    &:not(.in-view) {
      .auditory__bubble {
        transition-delay: 0ms;
      }
    }

    &.in-view {
      .auditory__bubble {
        opacity: 1;
        transform: translateY(0);
        transition-duration: 180ms;
        animation-timing-function: ease;
      }
    }

    @media only screen and (max-width: 991px) {
      max-width: 345px;
    }
  }

  &__image {
    width: 100%;
  }

  &__bubble {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(-50px);
    z-index: 2;

    &_1 {
      top: 0;
      left: -63px;
      max-width: 229px;

      @media only screen and (max-width: 767px) {
        top: -156px;
        left: 0;
      }
    }

    &_2 {
      top: 27px;
      left: 229px;
      max-width: 181px;

      @media only screen and (max-width: 991px) {
        left: 180px;
      }

      @media only screen and (max-width: 767px) {
        top: -113px;
        left: 142px;
      }
    }

    &_3 {
      top: 70px;
      left: 392px;
      max-width: 251px;

      @media only screen and (max-width: 991px) {
        left: 280px;
      }

      @media only screen and (max-width: 767px) {
        top: -67px;
        left: 118px;
      }
    }

    &_4 {
      top: 134px;
      left: 406px;
      max-width: 169px;

      @media only screen and (max-width: 991px) {
        left: 350px;
      }

      @media only screen and (max-width: 767px) {
        top: 0;
        left: unset;
        right: 16px;
        z-index: 3;
      }
    }

    &_5 {
      top: 210px;
      left: 325px;
      max-width: 214px;

      @media only screen and (max-width: 991px) {
        left: 300px;
      }

      @media only screen and (max-width: 767px) {
        top: 190px;
        left: 8px;
        z-index: 3;
      }
    }

    &_6 {
      top: 266px;
      left: 387px;
      max-width: 277px;

      @media only screen and (max-width: 991px) {
        left: 250px;
      }

      @media only screen and (max-width: 767px) {
        top: 159px;
        left: unset;
        right: 0;
      }
    }

    &_7 {
      top: 313px;
      left: 254px;
      max-width: 266px;

      @media only screen and (max-width: 991px) {
        left: 220px;
      }

      @media only screen and (max-width: 767px) {
        top: unset;
        bottom: -52px;
        left: 5px;
      }
    }

    &_8 {
      top: 366px;
      left: 192px;
      max-width: 229px;

      @media only screen and (max-width: 991px) {
        left: 140px;
      }

      @media only screen and (max-width: 767px) {
        top: 271px;
        left: 0;
      }
    }

    &_9 {
      top: 321px;
      left: -60px;
      max-width: 267px;

      @media only screen and (max-width: 991px) {
        left: -85px;
      }

      @media only screen and (max-width: 767px) {
        top: 231px;
        left: unset;
        right: 1px;
      }
    }

    &_10 {
      top: 252px;
      left: -185px;
      max-width: 251px;

      @media only screen and (max-width: 991px) {
        left: -125px;
      }

      @media only screen and (max-width: 767px) {
        top: 34px;
        left: 42px;
        z-index: 4;
      }
    }

    &_11 {
      top: 175px;
      left: -229px;
      max-width: 204px;

      @media only screen and (max-width: 991px) {
        left: -185px;
      }

      @media only screen and (max-width: 767px) {
        top: unset;
        bottom: -96px;
        left: unset;
        right: 23px;
      }
    }

    &_12 {
      top: 119px;
      left: -192px;
      max-width: 226px;

      @media only screen and (max-width: 991px) {
        left: -135px;
      }

      @media only screen and (max-width: 767px) {
        top: 317px;
        left: unset;
        right: 0;
      }
    }

    &_13 {
      top: 69px;
      left: -238px;
      max-width: 227px;

      @media only screen and (max-width: 991px) {
        left: -195px;
      }

      @media only screen and (max-width: 767px) {
        top: -27px;
        left: 16px;
      }
    }
  }

  &__flower {
    position: absolute;
    width: 100%;
    z-index: 1;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    &_1 {
      top: -25px;
      left: -300px;
      max-width: 94px;
    }

    &_2 {
      top: -75px;
      right: -290px;
      max-width: 77px;
    }

    &_3 {
      bottom: -60px;
      left: -70px;
      max-width: 79px;
    }
  }
}
//auditory

//courses
.courses {
  padding-top: 120px;
  padding-bottom: 100px;
  background: #224486;

  @media only screen and (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 80px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 100px;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 -15px 80px;
      color: #224486;
      background: #e0e1dc;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 480px;

      @media only screen and (max-width: 767px) {
        max-width: 100%;
        margin-bottom: 30px;
        padding: 0 15px;
      }
    }

    &-subtitle {
      margin-bottom: 7px;
      font-size: 2.5rem;
      font-style: italic;
      font-weight: 700;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      opacity: 0;
      transform: translateY(50px);

      &.in-view {
        opacity: 1;
        transform: translateY(0);
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 0;
        text-transform: capitalize;
      }
    }

    &-text {
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 0.4px;
      opacity: 0;
      transform: translateY(50px);

      &.in-view {
        opacity: 1;
        transform: translateY(0);
      }

      @media only screen and (max-width: 767px) {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    &-title {
      margin-top: auto;
      opacity: 0;
      transform: translateY(50px);

      &.in-view {
        opacity: 1;
        transform: translateY(0);
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }

      &_mobile {
        display: none;

        @media only screen and (max-width: 767px) {
          display: block;
          margin-bottom: 50px;
        }
      }
    }

    &-image {
      flex-shrink: 0;
      width: 100%;
      max-width: 370px;
      margin-left: 20px;
      opacity: 0;
      transform: translateY(50px);

      &.in-view {
        opacity: 1;
        transform: translateY(0);
      }

      @media only screen and (max-width: 991px) {
        max-width: 345px;
      }

      @media only screen and (max-width: 767px) {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__column {
    width: 100%;
    max-width: 454px;
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__item {
    opacity: 0;
    transform: translateY(50px);

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    &.mt_3 {
      @media only screen and (max-width: 767px) {
        margin-top: 40px;
      }
    }

    &-title {
      display: flex;
      justify-content: flex-start;
      align-self: center;
      margin-bottom: 40px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 40px;
      }

      .icon {
        flex-shrink: 0;
        width: 77px;
        margin-right: 6px;

        @media only screen and (max-width: 991px) {
          width: 50px;
        }
      }

      .text {
        height: 65px;

        @media only screen and (max-width: 1200px) {
          height: 50px;
        }

        @media only screen and (max-width: 991px) {
          height: 40px;
        }
      }
    }

    &-point {
      display: flex;
      justify-content: flex-start;
      align-self: flex-start;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 40px;
      }

      .icon {
        flex-shrink: 0;
        width: 38px;
        margin-right: 6px;
      }

      .text {
        font-size: 1.5rem;
        letter-spacing: 0.48px;
      }

      .caption {
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 0.4px;
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 380px;
    margin: 10px -120px 0 auto;

    @media only screen and (max-width: 991px) {
      margin: 10px 0 0 auto;
    }

    @media only screen and (max-width: 767px) {
      margin: 20px auto;
    }
  }
}
//courses

//gallery
.gallery {
  width: 100%;

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    height: auto;
  }

  &__photo {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
//gallery

//program
.program {
  padding-top: 120px;
  padding-bottom: 150px;
  color: #224486;
  background: #e0e1dc;

  @media only screen and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  &__title {
    margin-bottom: 8px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__caption {
    margin-bottom: 40px;
    font-size: 1.5rem;
    letter-spacing: 0.48px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;

    @media only screen and (max-width: 991px) {
      grid-gap: 20px;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 40px;
    }
  }

  &__card {
    position: relative;
    padding: 40px 45px;
    color: #e0e1dc;
    opacity: 0;
    transform: translateY(-50px);

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    @media only screen and (max-width: 991px) {
      padding: 40px 20px;
    }

    @media only screen and (max-width: 767px) {
      padding: 40px 20px 90px;
    }

    &_1 {
      background: #224486;
      border-radius: 0 60px 60px 60px;

      @media only screen and (max-width: 767px) {
        border-radius: 0px 40px 40px 40px;
      }

      .program__card-image {
        right: 44px;
        bottom: 33px;
        width: 90px;

        @media only screen and (max-width: 991px) {
          width: 60px;
        }

        @media only screen and (max-width: 767px) {
          left: 50%;
          transform: translateX(-50%);
          right: unset;
          bottom: 23px;
          width: 70px;
        }
      }
    }

    &_2 {
      background: #ad4419;
      border-radius: 60px 0 60px 60px;

      @media only screen and (max-width: 767px) {
        border-radius: 40px;
      }

      .program__card-image {
        top: 32px;
        right: 40px;
        width: 80px;

        @media only screen and (max-width: 991px) {
          width: 53px;
        }

        @media only screen and (max-width: 767px) {
          top: unset;
          bottom: 15px;
          right: 40px;
          width: 63px;
        }
      }
    }

    &_3 {
      background: #ad4419;
      border-radius: 60px 60px 60px 0;

      @media only screen and (max-width: 767px) {
        order: 4;
        border-radius: 40px 40px 40px 0;
      }

      .program__card-image {
        top: 62px;
        right: 40px;
        width: 80px;

        @media only screen and (max-width: 991px) {
          width: 53px;
        }

        @media only screen and (max-width: 767px) {
          top: unset;
          bottom: 15px;
          right: 40px;
          width: 63px;
        }
      }
    }

    &_4 {
      background: #224486;
      border-radius: 60px 60px 0 60px;

      @media only screen and (max-width: 767px) {
        order: 3;
        border-radius: 40px;
      }

      .program__card-image {
        top: 20px;
        right: 25px;
        width: 80px;

        @media only screen and (max-width: 991px) {
          width: 53px;
        }

        @media only screen and (max-width: 767px) {
          top: unset;
          bottom: 22px;
          right: 80px;
          width: 63px;
        }
      }
    }

    &-title {
      margin-bottom: 10px;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.64px;
      text-transform: uppercase;
    }

    &-list {
      margin: 0;
      padding-left: 30px;
      font-size: 1.125rem;
      letter-spacing: 0.36px;

      @media only screen and (max-width: 767px) {
        padding-left: 23px;
      }
    }

    &-image {
      position: absolute;
    }
  }
}
//program

//team
.team {
  padding-top: 120px;
  padding-bottom: 90px;
  font-size: 1.125rem;
  background: #224486;

  @media only screen and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  &__title {
    margin-bottom: 52px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 72px;
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 85px;

    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__info {
    width: 100%;
    max-width: 545px;
    margin-right: 45px;
    letter-spacing: 0.36px;
    opacity: 0;
    transform: translateY(-50px);

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    @media only screen and (max-width: 991px) {
      margin-right: 20px;
    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-top: 92px;
      margin-right: 0;
      font-size: 1.5rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 24px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 60px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-subtitle {
      margin-bottom: 25px;
      font-size: 2.5rem;
      font-style: italic;
      font-weight: 700;
      letter-spacing: 0.8px;
    }
  }

  &__photo {
    width: 100%;
    max-width: 460px;
    opacity: 0;
    transform: translateY(-50px);

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }

    &-container {
      position: relative;
      width: 100%;
      margin-bottom: 7px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 14px;
      }
    }

    &-main {
      width: 100%;
    }

    &-droplets {
      position: absolute;
      bottom: 0;
      right: -26px;
      width: 108px;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    &-caption {
      font-style: italic;
      font-weight: 600;
      letter-spacing: 0.36px;
      color: rgba(224, 225, 220, 0.80);
    }
  }

  &__gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    grid-column-gap: 10px;

    @media only screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 400px;
      margin: 0 auto 80px;
    }

    &-photo {
      overflow: hidden;
      border-radius: 28px;
      opacity: 0;

      &.in-view {
        opacity: 1;
      }

      @media only screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 300px;
      }

      &_1 {
        @media only screen and (max-width: 767px) {
          position: relative !important;
          transform: rotate(-20deg);
          z-index: 4;
        }
      }

      &_2 {
        @media only screen and (max-width: 767px) {
          transform: rotate(15deg) translate(40px, -20px);
          z-index: 3;
        }
      }

      &_3 {
        @media only screen and (max-width: 767px) {
          transform: rotate(-5deg) translate(40px, -20px);
          z-index: 1;
        }
      }

      &_4 {
        @media only screen and (max-width: 767px) {
          transform: rotate(-3deg) translate(49px, 0px);
          z-index: 2;
        }
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
//team

//motto
.motto {
  padding: 40px 0;
  background: #ad4419;

  @media only screen and (max-width: 767px) {
    padding: 70px 0;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 450px;
    margin-right: 94px;

    @media only screen and (max-width: 991px) {
      margin-right: 20px;
    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 3rem;
    line-height: 1.4;

    @media only screen and (max-width: 991px) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__flower {
    align-self: flex-end;
    width: 305px;
    animation: waving 1500ms infinite linear alternate;
  }

  @keyframes waving {
    0% {
      transform: rotate(-10deg) translateX(0);
    }
    100% {
      transform: rotate(0)translateX(20px);
    }
  }

  &__info {
    width: 100%;
    max-width: 495px;
    font-size: 1.125rem;
    letter-spacing: 0.36px;

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 15px;
      font-size: 1.5rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
//motto

//speakers
.speakers {
  padding-top: 120px;
  padding-bottom: 150px;
  background: #224486;

  @media only screen and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 86px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 80px;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    @media only screen and (max-width: 767px) {
      overflow-x: auto;
      grid-template-columns: repeat(6, 155px);
    }
  }

  &__item {
    &-photo {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;

      .photo {
        width: 72px;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        @media only screen and (max-width: 767px) {
          width: 68px;
          margin-right: 8px;
        }
      }

      .flower {
        position: absolute;
        width: 157px;

        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    &-name {
      margin-bottom: 2px;
      font-size: 1.375rem;
      letter-spacing: 0.44px;

      @media only screen and (max-width: 767px) {
        font-size: 1.125rem;
        letter-spacing: 0.36px;
      }
    }

    &-info {
      font-size: 0.875rem;
      font-weight: 300;
      letter-spacing: 0.28px;
    }

    &_1 {
      .flower {
        top: -67px;
        left: -41px;
        width: 157px;
      }
    }

    &_8 {
      .flower {
        top: -61px;
        left: -27px;
        transform: rotate(34deg);
      }
    }

    &_10 {
      .flower {
        top: -44px;
        left: -91px;
        transform: rotate(-56deg);
      }
    }
  }

  &__image {
    position: absolute;
    bottom: -110px;
    right: -120px;
    width: 365px;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
//speakers

//registration
.registration {
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  color: #224486;
  background: #e0e1dc;

  @media only screen and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  &__title {
    margin-bottom: 105px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 95px;
      font-size: 2.875rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 36px;
    margin-bottom: 110px;

    @media only screen and (max-width: 991px) {
      grid-column-gap: 20px;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-row-gap: 60px;
      margin-bottom: 40px;
    }
  }

  &__card {
    padding: 20px 20px 80px;
    color: #e0e1dc;
    opacity: 0;
    transform: translateY(-50px);

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }

    &_1 {
      background: url("../img/registration_1.svg") no-repeat top center;
      background-size: 100% 100%;

      @media only screen and (max-width: 767px) {
        background: url("../img/registration_1_mobile.svg") no-repeat top center;
        background-size: 100% 100%;
      }
    }

    &_2 {
      background: url("../img/registration_2.svg") no-repeat top center;
      background-size: 100% 100%;

      @media only screen and (max-width: 767px) {
        background: url("../img/registration_2_mobile.svg") no-repeat top center;
        background-size: 100% 100%;
      }

      .registration__card-plus {
        opacity: 0;
      }

      .registration__card-additional {
        text-decoration: line-through;
        color: rgba(224, 225, 220, 0.20);
      }
    }

    &-head {
      margin-bottom: 60px;
      padding-right: 20px;
      text-align: right;

      @media only screen and (max-width: 767px) {
        margin-bottom: 40px;
        padding-right: 0;
      }
    }

    &-title {
      margin-bottom: 3px;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.64px;
      text-transform: uppercase;
    }

    &-price {
      font-size: 1.5rem;
      font-style: italic;
      letter-spacing: 0.48px;
      text-transform: uppercase;

      @media only screen and (max-width: 767px) {
        font-size: 2rem;
      }
    }

    &-footer {
      position: relative;
      padding-top: 60px;
      text-align: center;
    }

    &-plus {
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: 0.64px;
    }

    &-additional {
      width: 100%;
      max-width: 320px;
      margin: 0 auto 40px;
      font-size: 1.125rem;
      font-weight: 600;
      letter-spacing: 0.36px;

      p {
        margin-top: 0;
        margin-bottom: 22px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-button {
      margin: 0 auto;

      &:hover {
        color: #e0e1dc;
        background: transparent;
        border-color: #e0e1dc;
      }
    }

    .module {
      margin-bottom: 30px;
      
      &:last-child {
        margin-bottom: 0;
      }

      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
      }

      &__title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .icon {
          flex-shrink: 0;
          width: 24px;
          margin-right: 4px;

          @media only screen and (max-width: 767px) {
            margin-top: 10px;
          }
        }

        .title {
          text-align: left;
          font-size: 1.25rem;
          font-weight: 700;
          letter-spacing: 0.4px;

          @media only screen and (max-width: 767px) {
            font-size: 1.5rem;
            letter-spacing: 0.48px;
          }
        }
      }

      &__caption {
        flex-shrink: 0;
        margin-left: 10px;
        font-style: italic;
        letter-spacing: 0.32px;
        text-transform: lowercase;
        color: rgba(224, 225, 220, 0.6);
      }

      &__list {
        margin: 0;
        padding-left: 35px;
        text-align: left;
        font-weight: 300;
        letter-spacing: 0.32px;

        @media only screen and (max-width: 767px) {
          padding-left: 20px;
          font-size: 1.125rem;
        }

        li {
          list-style-position: outside;

          &::marker {
            font-size: 0.75rem;
            line-height: 1rem;
          }
        }
      }
    }
  }

  &__hot {
    text-align: center;

    &-info {
      position: relative;
      display: inline-block;
      margin-bottom: 40px;
      font-size: 1.5rem;
      letter-spacing: 0.48px;

      @media only screen and (max-width: 767px) {
        text-align: left;
      }

      .icon {
        position: absolute;
        top: -26px;
        right: -63px;
        width: 75px;
        transform: rotate(22deg);

        @media only screen and (max-width: 767px) {
          top: 42px;
          right: 2px;
          width: 87px;
          transform: rotate(-23deg);
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &-button {
      position: relative;
      height: 157px;
      width: 368px;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 0.48px;
      text-transform: uppercase;
      color: #e0e1dc;

      &:hover {
        .text_1 {
          opacity: 0;
        }

        .text_2 {
          opacity: 1;
        }
      }

      &_1 {
        background: url("../img/cloud_1.svg") no-repeat center center;
        background-size: 100% 100%;

        @media only screen and (max-width: 767px) {
          margin-bottom: 43px;
        }
      }

      &_2 {
        background: url("../img/cloud_2.svg") no-repeat center center;
        background-size: 100% 100%;
      }

      .text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
        transition: 180ms ease;

        &_2 {
          opacity: 0;
        }
      }
    }
  }

  &__flower {
    position: absolute;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    &_1 {
      top: 175px;
      left: 50%;
      transform: translateX(-550px);
      width: 94px;
    }

    &_2 {
      top: 90px;
      right: 50%;
      transform: translateX(660px);
      width: 77px;
    }

    &_3 {
      top: 258px;
      right: 50%;
      transform: translateX(115px);
      width: 79px;
    }

    &_4 {
      top: 693px;
      left: 50%;
      transform: translateX(-675px);
      width: 79px;
    }

    &_5 {
      top: 518px;
      right: 50%;
      transform: translateX(710px);
      width: 94px;
    }

    &_6 {
      top: 1226px;
      left: 50%;
      transform: translateX(-658px);
      width: 77px;
    }

    &_7 {
      top: 953px;
      right: 50%;
      transform: translateX(695px);
      width: 79px;
    }
  }
}
//registration

//bottom
.bottom {
  overflow: hidden;

  &__photo {
    width: 100%;

    @media only screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;
      width: auto;

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
//bottom

//footer
.footer {
  padding-top: 45px;
  padding-bottom: 40px;
  color: #e0e1dc;
  background: url("../img/footer-bg.jpg") repeat 52% 15px;
  background-size: 1440px auto;

  @media only screen and (max-width: 767px) {
    background: url("../img/footer-bg_mobile.jpg") repeat-x center center;
    background-size: auto 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 56px;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 70px;
    }
  }

  &__title {
    @media only screen and (max-width: 767px) {
      margin-bottom: 18px;
      font-size: 2.875rem;
    }
  }

  &__main {
    width: 100%;
    max-width: 466px;
    margin-right: 20px;

    @media only screen and (max-width: 991px) {
      max-width: 400px;
    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 105px;
    }
  }

  &__caption {
    margin-bottom: 40px;
    font-size: 1.5rem;
    letter-spacing: 0.48px;
  }

  .form {
    &__row {
      width: 100%;
      margin-bottom: 20px;

      &_double {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
      }
    }

    &__group {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__label {
      color: #fff;
    }

    &__input {
      height: 36px;
      width: 100%;
      padding: 12px 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      color: #fff;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      box-shadow: none;

      &::placeholder {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    &__button {
      height: 61px;
      max-width: 225px;
      margin-left: auto;
      font-size: 1.25rem;
      letter-spacing: 0.4px;
      color: #ad4419;
    }
  }

  &__contacts {
    &-title {
      margin-bottom: 8px;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.64px;
    }

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .label {
        margin-right: 7px;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 0.4px;
      }

      .link {
        letter-spacing: 0.32px;
        text-decoration: underline;
        transition: 180ms ease;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    letter-spacing: 0.32px;

    @media only screen and (max-width: 767px) {
      font-size: 0.875rem;
    }
  }

  &__credentials {
    margin-right: 20px;
  }

  &__designed {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &-caption {
      margin-right: 30px;

      @media only screen and (max-width: 767px) {
        margin-right: 6px;
      }
    }

    &-logo {
      flex-shrink: 0;
      width: 37px;
    }
  }
}
//footer
